@charset "UTF-8";
* {
  margin: 0;
  padding: 0% 5%; }

body {
  background-color: #F2F0EB;
  font-family: 'Roboto', sans-serif;
  color: black; }

img {
  max-width: 100%; }

/*HEADER*/
#toggle-menu {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  cursor: pointer;
  width: 40px;
  z-index: 1; }

/*con este media lo que hacemos es hacer desaparecer el boton que pusimos antes :D*/
@media screen and (min-width: 768px) {
  #toggle-menu {
    display: none; } }

/*estos son los estilos del menu*/
.main-menu {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition: transform 0.3s; }
  .main-menu a {
    text-decoration: none;
    font-size: 20px; }

/*con este codigo lo que hacemos es añadir una clase para que despues con js se active esa clase y se muestre el menu*/
.main-menu--show {
  transform: translateY(0); }

/*este media hace que cuando pasa de 768px el menu en ves estar un item abajo de otro, pasa a estar uno al lado de otro*/
@media screen and (min-width: 768px) {
  .main-menu {
    flex-direction: row;
    transform: translateY(0);
    align-items: center;
    justify-content: center; } }

/*estos son estilos*/
.main-menu__item {
  padding: 1em; }

.main-menu__txt {
  color: #262626;
  text-decoration: none; }

.main-menu__txt:hover {
  background-color: #A63C3C;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: #F2F0EB; }

/*INDEX*/
.contenedor_uno {
  justify-content: center;
  align-items: center;
  padding: 10px; }
  .contenedor_uno .fondo_conteiner {
    background-color: #91D7F2; }
    .contenedor_uno .fondo_conteiner .titulo_uno {
      text-align: center;
      font-family: 'Comforter Brush', cursive;
      font-size: 250%;
      padding-top: 30px; }
    .contenedor_uno .fondo_conteiner .descripcion_txt {
      text-align: center;
      font-size: 15px;
      padding: 30px; }
  .contenedor_uno .img {
    padding: 20px 10px 5px 5px;
    border-radius: 10px;
    object-fit: cover; }
  .contenedor_uno .txt-font {
    font-family: 'Nanum Pen Script', cursive;
    text-align: center;
    font-size: 100%; }

.fondo_text {
  background-color: #F2594B;
  color: #F2F0EB; }

.fondo_txt2 {
  background-color: #5196A6; }

.fondo_button {
  background-color: #A63C3C; }

.txt_clor {
  text-decoration: none;
  color: #F2F0EB; }
  .txt_clor:hover {
    color: #262626; }

/*SOBRE MI*/
.foto_carnet {
  width: 200px; }

.btn-color {
  background-color: #A63C3C;
  color: #F2F0EB;
  margin-bottom: 5%;
  width: 100%; }

.tarjeta {
  border: none;
  width: 100%;
  margin-bottom: 10px; }
  .tarjeta img {
    object-fit: cover; }

/*GALERIA*/
.conteiner .row img {
  border-radius: 5px;
  width: 100%;
  height: 95%; }

.frase-galeria {
  background-color: #5196A6;
  text-align: center;
  margin: 5% 9%;
  color: #F2F0EB; }

.frase-blog {
  background-color: #A63C3C;
  text-align: center;
  margin: 5% 9%;
  color: #F2F0EB; }

.formulario {
  background-color: #91D7F2;
  margin: 5% 9.5%;
  padding: 30px; }

/*FOOTER*/
footer {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  place-items: center; }
  footer .icon {
    position: relative;
    background-color: #F2F0EB;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  footer .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background-color: #F2F0EB;
    color: #F2F0EB;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #F2F0EB;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto; }

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1); }

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff; }

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff; }

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff; }

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff; }

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background-color: #272EAB;
  color: #ffffff; }
